@{ 
    ViewBag.Title = "My Suggestions";
}

@model IEnumerable<Assignment4_Restaurants.Models.NewRestaurants>

<div>
    <h1>My Restaurant Suggestions</h1>
    <p>Below is a table with your suggestions for amazing restaurants to try in Provo!</p>

    <table class="table">
        <thead>
            <th>Name</th>
            <th>Restaurant</th>
            <th>Favorite Dish</th>
            <th>Phone</th>
        </thead>
        <tbody>
            @*Display the models, enumerating on each added submission*@
            @foreach (Assignment4_Restaurants.Models.NewRestaurants rest in Model)
            {
                //Ensure there are no blanks, replace with phrase
                if(@rest.FavDish is null)
                {
                    rest.FavDish = "It's all tasty!";
                }

                <tr class="d-table-row">
                    <td>@rest.Name</td>
                    <td>@rest.RestName</td>
                    <td>@rest.FavDish</td>
                    <td>@rest.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>
